# Flask
FLASK_APP=<your_value_here>
FLASK_ENV=<your_value_here>
SECRET_KEY=<your_value_here>

# Plivo
PLIVO_AUTH_ID=<your_value_here>
PLIVO_AUTH_TOKEN=<your_value_here>
PLIVO_NUMBER=<your_value_here>

# Postgres
DATABASE_URL=<your_value_here>

# Redis
REDIS_URL=<your_value_here>
